<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Data Authoring Environments</title>
    <meta name="description" content="Ongoing project to build a web portal for the Data Authoring Environments collection.">
<!--     <link id="favicon" rel="icon" href="https://glitch.com/favicon.ico" type="image/x-icon"> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Data Authoring Environments
      </h1>
      <br>
      <a href="/">Home</a>&emsp;<a href="/models">Models</a> &emsp; <a href="#">Favourites</a> &emsp; SSUI — 05-431
      <br>
      <br>
      Ongoing project to build a web portal for the <a target="_blank" href="http://staging.dubberly.com/Data_Authoring_Environments">Data Authoring Environments collection</a>.<br>
      Original research supported by the <a target="_blank" href="http://dubberly.com">Dubberly Design Office</a> in June 2018.
    
    </header>
    
    
<!--     <dialog class="dialog" id="myDialog"></dialog> -->
    
<!--<modal id="myDialouge"></modal> -->
     <div  class="modal" id="leafView"> <!--class="dialog" -->
    <div id="ex1" class="modal">
      <p>Thanks for clicking. That felt good.</p>
    
    </div>
    </div>
    
    <main id="data-container">
      Loading...
    </main>

    
<!--
    Glitch Proj. Button
    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
-->

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  <!--  ery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  </body>
</html>