<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Data Authoring Environments</title>
    <meta name="description" content="Ongoing project to build a web portal for the Data Authoring Environments collection.">
<!--     <link id="favicon" rel="icon" href="https://glitch.com/favicon.ico" type="image/x-icon"> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Data Authoring Environments
      </h1>
      <br>
      <a href="/">Home</a>&emsp;<a href="/models">Models</a> &emsp; <a href="#">Favourites</a> &emsp; SSUI — 05-431
      <br>
      <br>
      The below models are sketches created in conjuction with the <a href="https://docs.google.com/document/d/10XzBrGHyO51QmQiw5gOthOad_jgwCFinne0HbEwkaoo/edit"> paper I'm currently writing </a>on this research.
    </header>
    <img class="imageBigger" src="https://cdn.glitch.com/2c292283-55d7-4a23-9e77-ae76c96c4a87%2FDAE-Diagram_8.png?1539064705262">
  <img class="imageBigger" src="https://cdn.glitch.com/2c292283-55d7-4a23-9e77-ae76c96c4a87%2FDAE-Diagram_7.png?1539064541888">
     
  </body>
</html>